   @import './../../../styles/mixins';

   .area__breadcrumbs {
       padding-top: 25px;

       @include lg {
           display: none;
       }

       .rs-breadcrumb {
           margin-bottom: 0;
       }

       .rs-breadcrumb-item {
           color: #676767;
           font-size: 14px;
           font-weight: 300;

           &-active {
               color: black;
                font-weight: 400;

           }
       }
   }